<header>
    <nav>
    <a href="home.html">home</a>
    <a href="contract.html">contact</a>
    </nav>
</header>
<main>
    <h1>An HTML Project</h1>
    <p>I am Learning HTML. this is the first step to being a devoloper.
        By the end of the week, I will have built my first full stack application!
    </p>
    <p>my favourite search engine is
        <a href="https://google.com">Google</a>
    </p>
    <div>
    <div>Box 1</div>
    <div>Box 2</div>
    <div>Box 3</div>
    <div>Box 4</div>
</div>
</main>
<footer>
    <div>Copyright 2002 Gio was here!</div>
    <div> Gio is extra cool!</div>
</footer>
